.back{
    background-image: url("download.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Carattere', cursive;

}
.heading{
    background-color: darkviolet;
    color: ghostwhite;
    margin: 0px;
    width: 100%;
    font-size: 35px;
    box-shadow: 5px 5px 5px blanchedalmond;
    letter-spacing: 10px;

}
.copyrightfooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: powderblue;
    color: purple;
    line-height: 3;
    font-size: 35px;
    box-shadow: 5px 5px 5px purple;
}
.note{
    color: seashell;
    font-size: 35px;
}
canvas{
    border-radius: 10px;
    border: 5px solid purple;
    animation-name: Example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes Example{
    from{box-shadow: 5px 5px 35px violet;}
    to{box-shadow: 5px 5px 35px rgb(66, 5, 66);}
}
video{
    margin-left: 400px;
margin-top: 300px;
transform: rotateY(180deg); 
-webkit-transform:rotateY(180deg);
}